  <div class="container">
    
   
    <%= render 'shared/errors', obj: @tip %>
  
    <div class="row">
    <div class="col-md-12">
    <%= form_for(@tip, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  
    <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :name  %>
      </div>
      <div class="col-md-8">
        <%= f.text_field :name, class: "form-control", placeholder: "Name of Tip", autofocus: true %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :description %>
      </div>
      <div class="col-md-8">
        <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Enter hockey tip" %>
      </div>
    </div>
    
      <div class="form-group">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <%= f.collection_check_boxes :skill_ids, 
                                      Skill.all, :id, :name do |cb| %>
  <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
        <% end %>
      </div>
    </div>
  </div>
  
  
    
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit class: "btn btn-primary btn-lg btn-main" %>
      </div>
    </div>
    <% end %>
    <div class="col-md-4 col-md-offset-4">
      <%= link_to "Return To Tips", tips_path %>
    </div>
    
    
    </div>
  </div>
    
  
    
  </div>