<%= render 'shared/page_title', title: @tip.name %>

<div class="container">
<div class="well col-md-8 md-offset-2">
<h2 class="tip-name"><%= @tip.name %></h2>

<p class="center tip-description"><%= simple_format(@tip.description) %></p>
<div class="pull-right">
    <p class="text-muted center">Created By:</p>
    
    <p class="center">
      <%= link_to gravatar_for(@tip.member), tips_path %>
    </p>
    
    <p class="center">
      <small><%= @tip.member.membername  %></small>
      <div class="pull-right text-muted"><%= time_ago_in_words(@tip.created_at) %> ago</div>
    </p>
    
   
</div>

<div class="recipe-actions">
  <%= link_to "Edit this tip", edit_tip_path(@tip), class: "btn btn-xs btn-primary" %>
  <%= link_to "Delete this tip", tip_path(@tip), method: :delete, data: {confirm: "Are your sure you want to delete this tip"}, class: "btn btn-xs btn-danger"  %>
  <%= link_to "Return to tips listing", tips_path, class: "btn btn-xs btn-success" %>
</div>
</div>

</div>