<%= render 'shared/page_title', title: "Member #{@member.membername}'s profile" %>


<div class="container">
<div class="row">
  <div class="well col-md-4 col-md-offset-4">
    <%= gravatar_for @member, size: 130 %>
  </div>
</div>

  <h4 align="center"><%= @member.membername %>'s tips</h4>
  <div align="center">
    <%= will_paginate @member_tips %>
  </div>
<%= render 'tips/tips', obj: @member_tips %>
  <div align="center">
    <%= will_paginate @member_tips %>
  </div>
  
  </div>